{% extends "layout.html" %}
{% block title %} : {{feature.md5}}{% endblock %}
{% block head %}
  {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/default.min.css"> #}
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/languages/yaml.min.js"></script>
  <script src="feature.js"></script>
{% endblock %}
{% block content %}
  <div class="rounded-box border border-base-300 bg-base-200 mx-4">

    <div class="toast invisible" id="cb-copy-success">
      <div class="alert alert-info">
        <span>Copied to clipboard</span>
      </div>
    </div>
    <div class="toast invisible" id="cb-copy-failure">
      <div class="alert alert-danger">
        <span>Copying to clipboard failed</span>
      </div>
    </div>

    <div class="tabs tabs-lift">

      <label class="tab tracking-tight md:tracking-wide font-medium uppercase">
        <input type="radio" name="tabs" checked="checked" />
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 me-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
        </svg>
        Info
      </label>
      <div class="tab-content bg-base-100 border-base-300 p-4">

        <div class="flex my-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 me-2 self-center">
            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
          </svg>
          <h3 class="tracking-tight md:tracking-wide">Dataset</h3>
        </div>
        <div class="border-base-300 bg-base-200 py-4 md:py-10 rounded-box">
          <ul class="list md:w-4/5 lg:w-3/5 m-auto">
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Name</span></div>
              <div>{{feature.dataset.name}}</div>
            </li>
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Display Name</span></div>
              <div>{{feature.dataset.display_name}}</div>
            </li>
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Description</span></div>
              <div>{{feature.dataset.description}}</div>
            </li>
          </ul>
        </div>

        <div class="flex my-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 me-2 self-center">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
          </svg>
          <h3 class="tracking-tight md:tracking-wide">Feature</h3>
        </div>
        <div class="border-base-300 bg-base-200 py-4 md:py-10">
          <ul class="list md:w-4/5 lg:w-3/5 m-auto">
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">MD5</span></div>
              <div><code>{{feature.md5}}</code></div>
            </li>
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Name</span></div>
              <div>{{feature.name}}</div>
            </li>
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Added On (in UTC)</span></div>
              <div>{{feature.added_on}}</div>
            </li>
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Shape</span></div>
              <div><code>{{feature.data.shape}}</code></div>
            </li>
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Size</span></div>
              <div><code>{{feature.data.size}}</code></div>
            </li>
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Samples</span></div>
              <div><code>{{feature.samples}}</code></div>
            </li>
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Data Type</span></div>
              <div><code>{{feature.data.dtype}}</code></div>
            </li>
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Storage Size (in bytes)</span></div>
              <div><code>{{feature.data.nbytes}}</code></div>
            </li>
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Parameters</span></div>
              <div><code>{{feature.marker_meta|pprint}}</code></div>
            </li>
          </ul>
        </div>

        <div class="flex my-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 me-2 self-center">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
          </svg>
          <h3 class="tracking-tight md:tracking-wide">Storage Metadata</h3>
        </div>
        <div class="border-base-300 bg-base-200 py-4 md:py-10">
          <ul class="list md:w-4/5 lg:w-3/5 m-auto">
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Kind</span></div>
              <div>{{feature.storage_meta.kind|capitalize}}</div>
            </li>
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Columns</span></div>
              <div><code>{{feature.storage_meta.column_headers}}</code></div>
            </li>
            <li class="list-row">
              <div class="w-20 md:w-50"><span class="font-semibold">Rows</span></div>
              <div><code>{{feature.storage_meta.row_headers}}</code></div>
            </li>
          </ul>
        </div>

      </div>

      <label class="tab tracking-tight md:tracking-wide font-medium">
        <input type="radio" name="tabs" />
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 128 128" class="size-6 me-2">
          <polygon transform="matrix(.24805 0 0 .24805 .5 5.6287)" points="87.702 137.67 0 0 63.25 0 119.02 88.646 175.24 0 235.79 0 143.98 137.67 143.98 224.95 87.702 224.95"/>
          <path d="m82.428 49.149h-25.266l-5.1388 12.408h-11.188l23.659-55.798h11.444l22.699 55.798h-11.956l-4.2525-12.408zm-4.197-11.14-7.7455-20.476-8.6412 20.476z" fill="#cb171e"/>
          <polygon transform="matrix(.24805 0 0 .24805 .5 5.6287)" points="87.701 250.18 87.701 470.65 135 470.65 135 318.57 184.51 420.79 221.74 420.79 272.94 314.98 272.94 470.6 318.32 470.6 318.32 250.18 256.36 250.18 201.38 349.88 149.02 250.18"/>
          <polygon transform="matrix(.24805 0 0 .24805 .5 5.6287)" points="512 422.74 512 422.74 395.64 422.74 395.64 250.12 347.44 250.12 347.44 469.65 512 469.65"/>
        </svg>
        YAML
      </label>
      <div class="tab-content bg-base-100 border-base-300 p-4">
        <div class="flex justify-end">
          <div class="join mb-4">
            <button class="btn btn-square btn-ghost join-item" onclick="copyToClipboard('#yaml')">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
              </svg>
            </button>
            <button class="btn btn-square btn-ghost join-item" onclick="saveFile('{{feature.md5}}.yml', '#yaml')">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
              </svg>
            </button>
          </div>
        </div>
        <div class="overflow-x-auto bg-base-200 rounded-box p-6 w-full">
          <pre><code class="language-yaml bg-base-200 m-auto" id="yaml">{{yaml}}</code></pre>
        </div>
      </div>

      <label class="tab tracking-tight md:tracking-wide font-medium uppercase">
        <input type="radio" name="tabs" />
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 me-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
        </svg>
        Download
      </label>
      <div class="tab-content bg-base-100 border-base-300 p-6">
        <p class="text-lg"> - Install <a href="https://www.datalad.org" class="link">datalad</a> if not installed already.</p>
        <p class="text-lg mb-2"> - Then, clone the dataset locally by:</p>
        <div class="overflow-x-auto bg-base-200 rounded-box w-full">
          <pre>
            <code class="language-bash bg-base-200">
              $ datalad clone {{dataset}}
              $ cd <path/to/cloned/dir>
              $ datalad get features/{{feature.md5}}.h5
            </code>
          </pre>
        </div>
        <p class="text-lg my-2"> - Finally, extract the feature as a <code>pandas.DataFrame</code> by:</p>
        <div class="overflow-x-auto bg-base-200 rounded-box w-full">
          <pre>
            <code class="language-python bg-base-200">
              from junifer.storage import HDF5FeatureStorage
              storage = HDF5FeatureStorage("{{feature.md5}}.h5")
              df = storage.read_df("{{feature.md5}}")
            </code>
          </pre>
        </div>
        </ol>
      </div>
    </div>
  </div>
{% endblock %}
